@using BAExamApp.MVC.Extensions
@model StudentExamAssessmentVM
@inject IServiceProvider ServiceProvider

<!--begin::Modal - Add task-->
<div class="modal fade" id="kt_modal_assessment_student" tabindex="-1" aria-hidden="true" >
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-1000px">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header" id="kt_modal_assessment_student_header">
                <!--begin::Modal title-->
                <h2 class="fw-bolder" id="studentName"></h2>
                <!--end::Modal title-->
                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-assessment-modal-action="close">
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                        </svg>
                    </span>
                </div>
                <!--end::Close-->
            </div>
            <!--end::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y mx-1 mx-xl-1 my-7">
                <!--begin::Form-->
                <form asp-area="Trainer" asp-controller="Exam" asp-action="TrainerAssessmentStudent" id="kt_modal_assessment_student_form" class="form" method="post">

                    <div class="row mb-3">
                        <div class="col-sm-12 ">
                            <div class="fv-row form-floating mb-7">
                                <textarea asp-for="Content" class="form-control form-control-solid" rows="5"></textarea>
                                <label class="required fw-bold fs-6 mb-2 text-muted">Değerlendirme</label>
                                <span  asp-validation-for="Content" class="text-danger"></span>
                            </div>
                                <input type="text"  asp-for="StudentId" hidden/>
                                <input type="text"  asp-for="ExamId" hidden/>
                            @{
                                var name = await User.GetTrainerUserName(ServiceProvider);
                            }
                            <input type="text"  asp-for="TrainerName" value="@name" hidden/>
                        </div>
                        <!--begin::Actions-->
                        <div class="text-center pt-15">
                            <button type="reset" class="btn btn-light me-3" data-kt-assessment-modal-action="cancel">@SharedLocalizer["Back_List"]</button>
                            <button type="submit" class="btn btn-primary" data-kt-assessment-modal-action="submit">
                                <span class="indicator-label">@SharedLocalizer["Save"]</span>
                                <span class="indicator-progress">
                                    @SharedLocalizer["Please_Wait"]
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <!--end::Actions-->
                </form>
                <!--end::Form-->
            </div>
            <!--end::Modal body-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>
<!--end::Modal - Add task-->
