@model AdminQuestionDifficultyCreateVM

@{
    ViewData["Title"] = ViewLocalizer["Create_New"];

}
<head>
    <link href="~/lib/trainer/css/addexamforstudent.css" rel="stylesheet" />
</head>


<div class="modal fade" id="createQuestionDifficultyModal" tabindex="-1" aria-labelledby="QuestionDifficultyAdd" aria-hidden="true">
    <div class="modal-dialog modal-l modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-title text-center fw-bolder" style="font-size:30px">@ViewLocalizer["Create_New"]</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form fv-plugins-bootstrap5 fv-plugins-framework" method="post" asp-action="Create">
                    <div class="fv-row mb-7 fv-plugins-icon-container">
                        <div class="d-flex align-items-center">
                            <label asp-for="Name" class="form-label mt-3" style="font-size: 20px; font-weight: bold;"></label>
                        </div>
                        <input type="text" class="form-control form-control-solid" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-7 fv-plugins-icon-container">
                        <div class="d-flex align-items-center">
                            <label asp-for="TimeGiven" class="form-label mt-3" style="font-size: 20px; font-weight: bold;"></label>
                        </div>
                        <input type="time" class="form-control form-control-solid" asp-for="TimeGiven" step="1" />
                        <span asp-validation-for="TimeGiven" class="text-danger"></span>
                    </div>
                    <div class="fv-row mb-7 fv-plugins-icon-container">
                        <div class="d-flex align-items-center">
                            <label asp-for="ScoreCoefficient" class="form-label mt-3" style="font-size: 20px; font-weight: bold;"></label>
                        </div>
                        <input type="text" inputmode="decimal" pattern="[0-9]*[.,]?[0-9]*" class="form-control form-control-solid" asp-for="ScoreCoefficient" step="1" />
                        <span asp-validation-for="ScoreCoefficient" class="text-danger"></span>
                    </div>


                    <div class="separator mb-6"></div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-success me-2">@SharedLocalizer["Save"]</button>
                        <span class="indicator-progress">
                            Please wait...
                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/select2.js"></script>

<script>
    $('#mySelectSubjects').select2({
        dropdownParent: $('#createQuestionDifficultyModal')
    });
</script>

