#sidebarToggle {
    background: none;
    border: none;
    cursor: pointer;
}

    #sidebarToggle:focus {
        outline: none;
    }

    #sidebarToggle i {
        color: #000;
        font-size: 16px;
    }
