.multipleSelection {
    background-color: #E3DEDD;
    border-radius: 5px;
}

.selectBox {
    position: relative;
}

    .selectBox select {
        width: 100%;
        padding: 4px;
        border-radius: 5px;
        border: 0.5px solid rgba(0,0,0,0.5);
        font-weight: bold;
    }

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor:pointer;
}

#checkBoxes {
    display: none;
    padding: 5px 10px 10px;
}

    #checkBoxes label {
        font-size: 14px;
        display: block;
        padding:2px;
    }

        #checkBoxes label:hover {
            background-color: #D5AEA6;
        }
