<div class="exam-loading" style="display:none">
    <div class="wrapper-start-exam">
        <div class="circle" id="circle-one"></div>
        <div class="circle" id="circle-two"></div>
        <div class="circle" id="circle-tree"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <span id="exam-loading-span"></span>
    </div>
</div>