@{
    ViewData["Title"] = SharedLocalizer["Index"];
}

<partial name="~/Areas/Admin/Views/Home/_PanelOverviewPartial.cshtml"></partial>
<div class="row mt-5 ">
    <partial name="~/Areas/Admin/Views/Home/_PanelExamRequestsPartial.cshtml"></partial>
    <partial name="~/Areas/Admin/Views/Home/_PanelStudentsPartial.cshtml"></partial>
</div>
<partial name="~/Areas/Admin/Views/Home/_PanelCalendarPartial.cshtml"></partial>